.example-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 50px auto;
}

.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  margin-top: 20px;
}
